
.tileFoot {
  padding-left: 20px;
  padding-top: 20px;
}

.tileFoot:last-child {
  margin-right: 15px;
}





.tile {
  width: 500px;
  height: 290px;
  background-color: $tile-back;
  border-radius: $br-tile;
  margin-left: 27px;
}




.tileHead {
  height: 60px;
  background-color: $java;
  width: 100%;
  border-radius: $br-tile-head;
}



//inline-block tiles//

.tile1 {
  @include tile-display;
}

.tile2 {
  @include tile-display;
}


.tile3 {
  @include tile-display;
}

.tile4 {
  @include tile-display;
}

// tile color changes//

.python {
  background-color: $python;
}

.wordPress {
  background-color: $wp;
}


// pop-up window hover//

//all classes that have this text will get this code
[class*='pop-up']{
  @include pop-up-tile;
  img {
    @include pop-up-img;
  }
}

.pop-up {
  left:48%;
  bottom: 74%;
}

.pop-up2 {
  left:48.5%;
  bottom: 72.5%;
}

.pop-up3 {
  left:49%;
  bottom: 74%;
}

.pop-up4 {
  left:48.5%;
  bottom: 75%;
}
