
.tile {
  @extend %tile;
}

// .tileHead background color changes//
.java {
  @include tile-back($java);
}

.python {
  @include tile-back($python);
}

.wordPress {
  @include tile-back($wp);
}

//inline-block tiles//

.tile1 {
  @extend %tileDisplay;
}

.tile2 {
  @extend %tileDisplay;
}

.tile3 {
  @extend %tileDisplay;
}

.tile4 {
  @extend %tileDisplay;
}

// pop-up window hover//

//all classes that have this text will get this code
[class*='pop-up']{
  @include pop-up-tile;
  img {
    @include pop-up-img;
  }
}

.pop-up {
  left:48%;
  bottom: 74%;
}

.pop-up2 {
  left:48.5%;
  bottom: 72.5%;
}

.pop-up3 {
  left:49%;
  bottom: 74%;
}

.pop-up4 {
  left:48.5%;
  bottom: 75%;
}
