#javaBtn {
  padding: 7px 15px 7px 15px;
  color: #2c9676;

}

.circleBtn  {
  border-radius: 100px;
  float: right;
  margin-right: 5px;

}

#pythonBtn {
  color: #f092b0;
  padding: 7px 15px 7px 15px;
}

#wpBtn {
  color: #838CC7;
  padding: 7px 15px 7px 15px;
}
