#javaBtn {
  padding: 7px 15px 7px 15px;
  color: $java;

}

.circleBtn  {
  float: right;
  margin-right: 5px;

}

#pythonBtn {
  color: $python;
  padding: 7px 15px 7px 15px;
}

#wpBtn {
  color: $wp;
  padding: 7px 15px 7px 15px;
}
