.tileHead h5 {
  float: right;
  padding: 12px 15px 0 0;
  color: white;
}

.icons h4 {
  color: lightgrey;
}

.icons h4 {
  display: inline;
}

.tile p,h3 {
  padding: 0 20px 0 20px;
}

.tile h3 {
  color: darkslategray;
}

.tile p {
  margin-top: 15px;
}

.pop-up h5 {
  color: darkslategray;
  position: absolute;
  margin-left: 50px;
  margin-top: 15px;
}

.pop-up p {
  position: absolute;
  width: 180px;
  margin-left: 30px;
  line-height: 15px;
  margin-top: 50px;
}

.pop-up2 h5 {
  color: darkslategray;
  position: absolute;
  margin-left: 50px;
  margin-top: 15px;
}

.pop-up2 p {
  position: absolute;
  width: 180px;
  margin-left: 30px;
  line-height: 15px;
  margin-top: 50px;
}


.pop-up3 h5 {
  color: darkslategray;
  position: absolute;
  margin-left: 50px;
  margin-top: 15px;
}

.pop-up3 p {
  position: absolute;
  width: 180px;
  margin-left: 30px;
  line-height: 15px;
  margin-top: 50px;
}

.pop-up4 h5 {
  color: darkslategray;
  position: absolute;
  margin-left: 50px;
  margin-top: 15px;
}

.pop-up4 p {
  position: absolute;
  width: 180px;
  margin-left: 30px;
  line-height: 15px;
  margin-top: 50px;
}
