*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


body {
  background: $bdy-back;
  font-family: $stack-dosis;
  color: $gray;
}

hr {
  border: 1px solid $border;
  width: 95%;
}

button {
  background-color: $btn-background;
  border: 3px solid $border;
  border-radius: $br-btn;
  padding: 7px;
}
 span {
   color: $glyph-span;
 }

 #javaplay:hover + .pop-up {
   @include pop-up-hover;
 }

 #pythonHover:hover + .pop-up2 {
   @include pop-up-hover;
 }

 #wpHover:hover + .pop-up3 {
   @include pop-up-hover;
 }

 #javaFxHover:hover + .pop-up4 {
   @include pop-up-hover;
 }
